.Toastify__toast-container {
    width: fit-content !important;
    margin-top: 20px; /* Adjust if needed */
  }
  
  .Toastify__toast {
    text-align: center !important;
  }
  
  /* Custom Toast Style */
  .custom-toast {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Success Toast */
  .custom-toast.success {
    background-color: #e0ffcd;
    color: #000000;
  }
  
  /* Error Toast */
  .custom-toast.error {
    background-color: #ffb5b5;
    color: #120101;
  }
  
  /* Default Info Toast */
  .custom-toast.info {
    background-color: #ffb5b5;
    color: #030000;
  }
  